In [1]:
tup1 = (1,'a',True)
type(tup1)

tuple

In [2]:
tup1[0]=2

TypeError: 'tuple' object does not support item assignment

In [3]:
tup2 = (1,"a",True,3.114,5+6j)

In [4]:
tup2[0]

1

In [5]:
tup2[-1]

(5+6j)

In [6]:
tup2[1:4]

('a', True, 3.114)

# tuple basic operations

In [7]:
# find the length of the tuple

In [8]:
len(tup2)

5

In [9]:
# cocatenation

In [10]:
tup3 = ("d","e","f")
tup2 + tup3

(1, 'a', True, 3.114, (5+6j), 'd', 'e', 'f')

In [11]:
tup3 + tup2

('d', 'e', 'f', 1, 'a', True, 3.114, (5+6j))

In [12]:
# Repeating tuple elements

In [13]:
tup4 = ("Raju",3.14)
tup4*3

('Raju', 3.14, 'Raju', 3.14, 'Raju', 3.14)

In [14]:
tup4*5

('Raju', 3.14, 'Raju', 3.14, 'Raju', 3.14, 'Raju', 3.14, 'Raju', 3.14)

In [15]:
tup4*2 + tup3

('Raju', 3.14, 'Raju', 3.14, 'd', 'e', 'f')

# tuple functions

In [16]:
tup1 = (1,2,3,4,5,10)
min(tup1)

1

In [17]:
max(tup1)

10

# List

In [18]:
l1 = [1,'b',False]
type(l1)

list

In [19]:
l2 = [2,3,5,6]

In [20]:
l3 = l1+l2

In [21]:
l3

[1, 'b', False, 2, 3, 5, 6]

In [22]:
l1[0]

1

In [23]:
l1[-1]

False

In [24]:
l3[-1]

6

In [25]:
l3[2:5]

[False, 2, 3]

In [26]:
l3[2] = True

In [27]:
l3

[1, 'b', True, 2, 3, 5, 6]

In [28]:
l3.pop()

6

In [29]:
l3

[1, 'b', True, 2, 3, 5]

In [30]:
l3.append("Raju")
l3

[1, 'b', True, 2, 3, 5, 'Raju']

In [31]:
l3.reverse()

In [32]:
l3

['Raju', 5, 3, 2, True, 'b', 1]

In [33]:
l3.insert(1,"baburao")

In [34]:
l3

['Raju', 'baburao', 5, 3, 2, True, 'b', 1]

In [35]:
l3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [36]:
l3=[23,45,11,9,5]

In [37]:
l3.sort()

In [38]:
l3

[5, 9, 11, 23, 45]

In [39]:
l4 =["baburao","ghanshyam","raju","inmovidu"]

In [40]:
l4.sort()

In [41]:
l4

['baburao', 'ghanshyam', 'inmovidu', 'raju']

# List basic operations

In [42]:
# concatenation

In [45]:
l1 =[1,2,3]
l2 = ["a","b","c"]
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [46]:
# repeat elements

In [47]:
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# Dictionary in python

In [49]:
fruit = {"apple":10,"orange":20,"grapes":30}
fruit

{'apple': 10, 'orange': 20, 'grapes': 30}

In [50]:
type(fruit)

dict

In [51]:
fruit.keys()

dict_keys(['apple', 'orange', 'grapes'])

In [52]:
fruit.values()

dict_values([10, 20, 30])

In [53]:
fruit["apple"]=50

In [54]:
fruit

{'apple': 50, 'orange': 20, 'grapes': 30}

# dictionary functions

In [55]:
fruit1 = {"apple":10,"orange":20}
fruit2 = {"banana":30,"grapes":40}
fruit1.update(fruit2)

In [56]:
fruit1

{'apple': 10, 'orange': 20, 'banana': 30, 'grapes': 40}

In [57]:
fruit1.pop("apple")

10

In [58]:
fruit1

{'orange': 20, 'banana': 30, 'grapes': 40}

# set

In [59]:
s1 = {2,'b',False}
type(s1)

set

In [60]:
s1[0]

TypeError: 'set' object is not subscriptable

In [61]:
s1 = {2,2,2,2,3,3,4,5,6,6,False,False,True}

In [62]:
s1

{False, True, 2, 3, 4, 5, 6}

# set operations

In [63]:
s1

{False, True, 2, 3, 4, 5, 6}

In [64]:
s1.add("loki")

In [65]:
s1

{2, 3, 4, 5, 6, False, True, 'loki'}

In [66]:
s1.update([20,40,60])

In [67]:
s1

{2, 20, 3, 4, 40, 5, 6, 60, False, True, 'loki'}

In [68]:
s1.remove("loki")

In [69]:
s1

{False, True, 2, 3, 4, 5, 6, 20, 40, 60}

# union

In [70]:
s1 ={1,2,3,4,5,6}
s2= {5,6,7,8,9}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# intersection

In [71]:
s1.intersection(s2)

{5, 6}

In [72]:
l3

[5, 9, 11, 23, 45]

In [73]:
l3.sort(reverse=True)

In [74]:
l3

[45, 23, 11, 9, 5]